* {
  font-family: arial, helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #949494;
}

/* typography */
h1 span {
  font-weight: lighter;
  font-size: .5em;
}

h2 {
  text-align: center;
  font-size: 3em;
  font-weight: lighter;
}

h2 span {
  font-size: .5em;
}

h4 {
  color: #949494;
}

/* icons */
.icon {
  height: ;
  width: ;
  vertical-align: bottom;
  margin-right: 25px;
}

.skills-icon {
  height: auto;
  width: 25%;
}

.contact-icon {
  height: auto;
  width: 25px;
}

.small-icon {
  height: auto;
  width: 25px;
  border-color: #ffffff;
}

.small-icon:hover {
  box-shadow: 0 1px 15px;
  color: #fff;
  border-radius: 100%;
}

/* home-hero */
.home-hero h1 {
  color: #fff;
  border-style: solid;
  text-align: center;
  width: 16em;
  padding: 2em;
  margin: 0;
}

/* navbar */
nav {
  background-color: #555555;
  text-align: center;
  padding: 1.25em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 5px 50px;
}

nav ul {
  position: relative;
  display: none;
  list-style: none;
  overflow: hidden;
  opacity: 0;

}

label {
  display: block;
  cursor: pointer;
    color: #ffffff;
}

#toggle {
  display: none;
}

#toggle:checked + ul {
  display: flex;
  flex-direction: column;
  transition: 2s ease;
  opacity: 1;
}

nav li {
  padding: ;
}

/*nav:active ul {
  display: flex;
  flex-direction: column;
  transition: 2s ease;
  opacity: 1;
}*/

nav:hover li {
  padding: 1.5em;
}
/*
nav ul {
  position: ;
  width: 10%;
  height: 2px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  z-index: ;
  opacity: ;
}

nav ul:before,
nav ul:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 10%;
  height: 2px;
  background: inherit;
}

nav ul:after {
  top: 10px;
}

nav ul > li {
  position:;
  width:100%;
  height:100%;
}
*/
nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 2em;
}

nav a:hover {
  background-color: #333333;
  padding: 1.25em 4em;
}

/* home-about */
#home-about {
  color: #ffffff;
  margin: 10em 2em;
}

#home-about p {
  padding: 4em;
}

/* button */
.white-button {
  text-align: center;
}

.white-button a {
  color: #fff;
  text-decoration: none;
  border-style: solid;
  padding: 1em;
}

.white-button a:hover {
  box-shadow: 0 1px 10px;
}

/* skills-portfolio */
#skills-portfolio {
  background-color: #005b7f;
  padding: 50px;
}
/* skills */
#home-skills {
 color: #ffffff;
}

#home-skills div {
}

.skills-icons img {
  margin-left: ;
}

/* portfolio */
#portfolio {
  padding: 50px;
}

#portfolio img {
  width: 100%;
  height: auto;
  box-shadow: 0px 10px 20px;
  margin: 10px;
}

/* main content */
main {
  background-color: #ffffff;
  padding: 25px;
}

main h2 {
  color: #005b7f;
}

.card {
  margin: 4em 10%;
  box-shadow: 0 1px 10px;
}

.card hgroup {
  padding: 2em;
}

.article-title {
  background-color: #005b7f;
  color: #ffffff;
}

.main-content {
  padding: 2em 4em;;
  line-height: 1.5em;
}

/* home-contact */
#home-contact {
  background-color: #7accc8;
  color: #005b7f;
  border: 15px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-style: dashed;
  text-align: center;
}

#home-contact h2 {
  font-size: 4em;
  padding-top: .5em;
}

#home-contact li {
  list-style-type: none;
  padding: 2em;
  font-size: 1.25em;
}

.email-icon {
  margin-right: 10px;
}

.iPhone-icon {
  margin-right: 10px;
}

.location-icon {
  margin-right: 10px;
}

#left-side {
  flex-basis: 30%;
}

#right-side {
  flex-basis: 70%;
  padding: 50px;
}

#right-side h3 {
  padding: 2em 0;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  padding: 2em;
  background-color: #5ba09d;
  margin: 10px;
  box-shadow: 1px 1px 5px;
}

textarea {
  width: 95%;
  height: 200px;
  padding: 25px;
  margin: 10px;
  border: none;
  background-color: #5ba09d;
  box-shadow: 1px 1px 5px;
  font: sans-serif;
}

.form-button {
  background-color: none;
  border-style: solid;
  color: #005b7f;
  border-color: #005b7f;
  background-color: inherit;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 100px;
  width: 50%;
  padding: 1.5em;
}

.form-button:hover {
  box-shadow: 0 1px 10px;
}

/* footer */
footer {
  background-color: #005b7f;
  text-align: center;
}

footer li {
  display: inline-block;
  padding: 25px 40px;
}
