* {
  font-family: arial, helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #949494;
}

/* typography */
h1 span {
  font-size: .5em;
  font-weight: lighter;
}

h2 {
  font-size: 3em;
  font-weight: lighter;
  text-align: center;
}

h2 span {
  font-size: .25em;
}

h4 {
  color: #949494;
}

/* icons */
.icon {
  margin-right: 25px;
  vertical-align: bottom;
}

.skills-icon {
  height: auto;
  width: 50%;
}

.contact-icon {
  height: auto;
  width: 25px;
}

.small-icon {
  height: auto;
  width: 25px;
  border-color: #ffffff;
}

.small-icon:hover {
  color: #fff;
  box-shadow: 0 1px 15px;
  border-radius: 100%;
}

/* home-hero */
.home-hero h1 {
  padding: 2em;
  color: #fff;
  border-style: solid;
  text-align: center;
}

/* navbar */
nav {
  padding: 1.25em;
  background-color: #555555;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 5px 10px;
}

nav ul {
  position: relative;
  display: none;
  list-style: none;
}

label {
  color: #ffffff;
  display: block;
  cursor: pointer;
}

#toggle {
  display: none;
}

#toggle:checked + ul {
  display: block;
}

nav:hover li {
  padding: 1.25em;
}

nav a {
  padding: 2em;
  color: #ffffff;
  text-decoration: none;
}

nav a:focus {
  padding: 1.25em 10em;
  background-color: #333333;
}

/* home-about */
#home-about {
  margin: 2em;
  color: #ffffff;
}

#home-about p {
  padding: 8em 2em;
}

/* button */
.white-button {
  text-align: center;
}

.white-button a {
  padding: 1em;
  color: #ffffff;
  border-style: solid;
  text-decoration: none;
}

.white-button a:hover {
  box-shadow: 0 1px 10px;
  transition: 0.5s;
}

/* skills-portfolio */
#skills-portfolio {
  padding: 30px 0;
  background-color: #005b7f;
}
/* skills */
#home-skills {
 color: #ffffff;
}

.skills-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin: 50px;
  padding: 50px;
  background-color: ;
}

/* portfolio */
#portfolio {
  padding: 25px;
}

#portfolio img {
  width: 100%;
  height: auto;
  box-shadow: 0px 10px 20px;
  margin: 10px;
}

/* main content */
main {
  background-color: #ffffff;
  padding: 25px;
}

main h2 {
  color: #005b7f;
}

.card {
  margin: 4em 10%;
  box-shadow: 0 1px 10px;
}

.card hgroup {
  padding: 2em;
}

.article-title {
  background-color: #005b7f;
  color: #ffffff;
}

.main-content {
  padding: 2em 4em;;
  line-height: 1.5em;
}

/* home-contact */
#home-contact {
  background-color: #7accc8;
  color: #005b7f;
  border: 15px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-style: dashed;
  text-align: center;
}

#home-contact h2 {
  font-size: 4em;
  padding-top: .5em;
}

#home-contact li {
  list-style-type: none;
  padding: 2em;
  font-size: 1.25em;
}

.email-icon {
  margin-right: 10px;
}

.iPhone-icon {
  margin-right: 10px;
}

.location-icon {
  margin-right: 10px;
}

#left-side {
  flex-basis: 30%;
}

#right-side {
  flex-basis: 70%;
  padding: 50px;
}

#right-side h3 {
  padding: 2em 0;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  padding: 2em;
  background-color: #5ba09d;
  margin: 10px;
  box-shadow: 1px 1px 5px;
}

textarea {
  width: 95%;
  height: 200px;
  padding: 25px;
  margin: 10px;
  border: none;
  background-color: #5ba09d;
  box-shadow: 1px 1px 5px;
  font: sans-serif;
}

.form-button {
  background-color: none;
  border-style: solid;
  color: #005b7f;
  border-color: #005b7f;
  background-color: inherit;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 100px;
  width: 50%;
  padding: 1.5em;
}

.form-button:hover {
  box-shadow: 0 1px 10px;
}

/* footer */
footer {
  background-color: #005b7f;
  text-align: center;
}

footer li {
  display: inline-block;
  padding: 20px;
}
