* {
  font-family: arial, helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #949494;
  padding: 0;
  margin: 0;
}

/* typography */
h1 span {
  font-weight: lighter;
  font-size: .5em;
}

h2 {
  text-align: center;
  font-size: 3em;
  font-weight: lighter;
}

h2 span {
  font-size: .5em;
}

h4 {
  color: #949494;
}

/* icons */
.icon {
  height: ;
  width: ;
  vertical-align: bottom;
  margin-right: 25px;
}

.skills-icon {
  height: auto;
  width: 50%;
}

.contact-icon {
  height: auto;
  width: px;
  margin-right: 25px;
}

.small-icon {
  height: 75px;
  width: 75px;
  border-color: #fff;
}

.small-icon:hover {
  box-shadow: 0 1px 15px;
  color: #fff;
  border-radius: 100%;
}

/* home-hero */
.home-hero {
  background-image: url(../img/resume-home-hero-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20% 0;
  background-position: 50%;
}

.home-hero h1 {
  color: #fff;
  border-style: solid;
  text-align: center;
  width:px;
  padding: 2em;
  margin: 0 350px;
}

/* navbar */
nav {
  background-color: #555555;
  text-align: center;
  padding: 1.25em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 10px;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 1.25em 4em;
  background-color: ;
}

nav a:hover {
  background-color: #333333;
  padding: 1.25em 4em;
}

nav a:focus {
  background-color: black;
  padding: 1.25em 4em;
}

label {
  color: #ffffff;
  display: ;
  opacity: 0;
}

#toggle {
  display: none;
}

/* home-about */
#home-about {
  color: #ffffff;
  margin: 10em 20em;
}

#home-about p {
  padding: 8em;
}

/* button */
.white-button {
  text-align: center;
}

.white-button a {
  color: #fff;
  text-decoration: none;
  border-style: solid;
  padding: 1em;
}

.white-button a:hover {
  box-shadow: 0 1px 10px;
  transition: 0.5s ease;
}

/* skills-portfolio */
#skills-portfolio {
  background-color: #005b7f;
  padding: 50px;
}
/* skills */
#home-skills {
 color: #ffffff;
}

.skills-section {
  background-color: ;
  text-align: center;
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
}
.skills-container h4 {
  margin-left: 10px;
}

.skills-section img {
  width: 25px;
  height: auto;
}

.skills-container {
  background-color: #ffffff;
  color: black;
  padding: 10px;
  margin: 50px;
  line-height: 2em;
  box-shadow: 0 5px 5px;
  border-radius: 2em;
}

.skills-container ul {
  list-style: none;
}

/* portfolio */
#portfolio {
  margin: 50px 500px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

#portfolio img {
  width: 100%;
  height: auto;
  box-shadow: 0px 5px 10px;
}

.bar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.ice {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.nails {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.sweet {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.red {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.jam {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
}

.yin {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

/* main content */
main {
  background-color: #ffffff;
  padding: 25px;
}

main h2 {
  color: #005b7f;
}

.card {
  display: flex;
  margin: 4em 8em;
  box-shadow: 0 1px 10px;
}

.card hgroup {
  padding: 4em 2em 0em 2em;
  word-wrap:
}

.article-title {
  background-color: #005b7f;
  color: #ffffff;
  flex-basis: 25%
}

.main-content {
  margin: 4em;
  line-height: 1.5em;
  flex-basis: 75%;
}

/* home-contact */
#home-contact {
  background-color: #7accc8;
  color: #005b7f;
  display: flex;
  border-top: 15px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-style: dashed;
}

#home-contact h2 {
  font-size: 4em;
  padding-top: .5em;
}

#home-contact li {
  list-style-type: none;
  padding: 2em;
  font-size: 1.25em;
}

.iPhone-icon {
  margin-left: 15px;
}

.location-icon {
  margin-left: 10px;
}

#left-side {
  flex-basis: 30%;
}

#right-side {
  flex-basis: 70%;
  padding: 50px;
}

#right-side h3 {
  padding: 2em 0;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 4fr 1fr;
  grid-gap: 15px;
  grid-template-areas:
    "n e"
    "s s"
    "m m"
    "b b"
    ;
}

.form-name {
  grid-area: n;
}

.form-email {
  grid-area: e;
}

.form-subject {
  grid-area: s;
}

.form-message {
  grid-area: m;
}

.form-button {
  grid-area: b;
  float: right;
}

input {
  border: none;
  padding: 2em;
  background-color: #5ba09d;
  box-shadow: 1px 1px 5px;
}

textarea {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: #5ba09d;
  box-shadow: 1px 1px 5px;
  font: sans-serif;
}

.form-button {
  background-color: none;
  border-style: solid;
  color: #005b7f;
  border-color: #005b7f;
  background-color: inherit;
  cursor: pointer;
  margin: ;
  width: 25%;
  padding: 1.5em;
  transition: 0.5s ease;
}

.form-button:hover {
  box-shadow: 0 1px 10px;
}

/* footer */
footer {
  background-color: #005b7f;
  padding: 2em 2em;
  text-align: center;
}

footer li {
  display: inline-block;
  padding: 0 50px;
}
