@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap");
h2 {
  font-family: raleway;
  font-size: 2em;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}

@keyframes fadeAndFloat {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: raleway, arial, helvetica, sans-serif;
  background-color: #949494;
}

.small-icon {
  height: 25px;
  width: 25px;
}

.logo {
  font-family: Calligraffitti;
  text-decoration: none;
  color: #ffffff;
  margin: 0 0 0 25px;
}

label {
  color: #ffffff;
  display: none;
  font-size: 25px;
  cursor: pointer;
  float: right;
  margin: 0 25px 0 0;
}

#toggle {
  display: none;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  line-height: 50px;
  box-shadow: 0 1px 10px;
  background-color: #949494;
  z-index: 4;
}
nav ul {
  display: flex;
  list-style-type: none;
  float: right;
}
nav ul li {
  cursor: pointer;
  font-size: 0.75em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
nav ul li:hover {
  background-color: #7b7b7b;
  border-bottom: 3px solid #ffffff;
}
nav ul li:active {
  background-color: #545454;
  border-bottom: 3px solid #ffffff;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 0 20px;
}

@media only screen and (max-width: 700px) {
  .logo {
    font-family: Calligraffitti;
    text-decoration: none;
    color: #ffffff;
    margin: 0 0 0 25px;
  }

  label {
    display: block;
  }

  #toggle:checked + .menu {
    display: block;
  }

  .menu {
    width: 100%;
    text-align: center;
    display: none;
  }
  .menu li {
    background-color: #949494;
    opacity: 95%;
  }
  .menu a {
    display: block;
    margin: 0;
    border-bottom: 1px solid #000000;
  }
}
.banner {
  background: linear-gradient(#7accc8, #005b7f), url(../img/home-hero.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center center;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner__header {
  font-family: raleway;
  font-size: 4rem;
  color: #ffffff;
  border: solid 5px;
  padding: 1.15rem;
  animation: fadeAndFloat 2s;
  text-align: center;
  position: absolute;
}
.banner__header span {
  font-size: 0.5em;
  font-weight: 100;
}
.banner__icons {
  list-style-type: none;
  display: flex;
  position: relative;
  top: 40%;
}
.banner__icons li {
  margin: 40px;
  animation: fadeAndFloat 2s;
}
.banner__icons li:hover {
  transform: scale(2.5);
  transition: 1.15s;
}

#about {
  background: linear-gradient(#005b7f, #949494);
  padding: 50px;
}
#about p {
  margin: 50px 100px;
  line-height: 2em;
  color: white;
}

@media only screen and (max-width: 700px) {
  #about p {
    margin: 25px;
  }
}
.cv {
  background-color: #ffffff;
  height: 600px;
  width: 500px;
  margin: 0 auto;
  box-shadow: 10px 10px 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  cursor: pointer;
}
.cv--contacticon {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
.cv--headericon {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.cv:hover {
  transform: scale(1.45);
  transition: 3s;
  box-shadow: 50px 50px 25px;
}
.cv--leftside {
  background-color: #005b7f;
}
.cv--leftside ul {
  list-style-type: none;
  margin: 10px;
  font-size: 0.5rem;
  line-height: 2rem;
  color: #ffffff;
}
.cv--leftside p {
  font-size: 0.25rem;
  margin: 10px;
  line-height: 1.15rem;
  color: #ffffff;
}
.cv .avatar {
  margin: 15px 0 15px 45px;
  height: 75px;
  width: 75px;
  border: solid 2px;
  border-radius: 100%;
  background-color: #ffffff;
}
.cv .cvheader {
  background-color: #00364c;
  text-align: center;
  color: #ffffff;
  padding: 5px;
}
.cv .cv-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cv .cv-icon {
  height: 20px;
  width: 20px;
}
.cv--rightside h4 {
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 100;
}
.cv--rightside h4 strong {
  color: #005b7f;
}
.cv--rightside h4 span {
  font-size: 0.5rem;
}
.cv--rightside .cvheader-edu-exp {
  margin: 20px 20px 0 20px;
}
.cv--rightside hr {
  margin: 0 10px;
}
.cv--contentcontainer {
  display: flex;
  margin: 10px;
  line-height: 1.05rem;
  font-size: 0.75rem;
}
.cv--contentcontainer p {
  font-size: 0.5rem;
  margin: 0 10px;
}

.cv__button {
  text-align: center;
}
.cv__button .button {
  margin: 100px;
}
.cv__button .button:hover a {
  background-color: #ffffff;
  color: #949494;
  padding: 2em 4em;
  transition: 0.75s;
}
.cv__button .button a {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid;
  padding: 2em 4em;
}

@media only screen and (max-width: 700px) {
  .cv {
    display: none;
  }

  .cv__button {
    text-align: center;
  }
  .cv__button .button {
    margin: 50px;
  }
  .cv__button .button:hover a {
    background-color: #ffffff;
    color: #949494;
    padding: 2em 4em;
    transition: 0.75s;
  }
  .cv__button .button a {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid;
    padding: 2em 4em;
  }
}
#skills {
  background: url(../img/desktop.jpg);
  background-size: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  margin: 0;
  padding: 0;
}
#skills .skills-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#skills .skills-section .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#skills .skills-section .card--header {
  position: relative;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #949494;
  z-index: 1;
}
#skills .skills-section .card--header:hover {
  background-color: #005b7f;
}
#skills .skills-section .card--header h3 {
  color: #ffffff;
  margin: 10px;
}
#skills .skills-section .card--content {
  position: relative;
  background-color: #ffffff;
  height: 200px;
  width: 300px;
  padding: 20px;
  box-shadow: 1px 1px 15px;
}

.card .card--header .card--icon {
  opacity: 0.2;
  transition: 0.75s;
}

.card:hover .card--header .card--icon {
  opacity: 1;
  transition: 0.75s;
}

.card .card--header h3 {
  opacity: 0.2;
  transition: 0.75s;
}

.card:hover .card--header h3 {
  opacity: 1;
  transition: 0.75s;
}

.card .card--header {
  transition: 0.75s;
  transform: translateY(100px);
}

.card:hover .card--header {
  transition: 0.75s;
  transform: translateY(0);
  box-shadow: -1px -1px 15px;
}

.card .card--content {
  transition: 0.75s;
  transform: translateY(-100px);
}

.card:hover .card--content {
  transition: 0.75s;
  transform: translateY(0);
}

.card--icon {
  height: 100px;
  width: 100px;
}

.card-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
}

.card-icon {
  height: 50px;
  width: 50px;
  margin: 5px;
}

.skills-button {
  text-align: center;
}
.skills-button .button {
  margin: 100px;
}
.skills-button .button:hover a {
  background-color: #005b7f;
  color: #ffffff;
  border: 2px solid #ffffff;
  transition: 0.5s;
}
.skills-button .button a {
  color: #005b7f;
  text-decoration: none;
  border: 2px solid #005b7f;
  padding: 2em;
  transition: 0.5s;
}

@media only screen and (max-width: 1024px) {
  #skills {
    display: none;
  }
}
@media only screen and (min-width: 1001px) {
  main {
    background-color: #ffffff;
    padding: 100px;
  }

  .main__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__header h2 {
    color: #005b7f;
    padding-left: 25px;
  }

  .main__card {
    display: flex;
    margin: 50px;
    box-shadow: 3px 3px 15px;
    height: 185px;
    max-width: 1200px;
    min-width: 775px;
  }
  .main__card h3 {
    background-color: #005b7f;
    color: #ffffff;
    text-align: center;
    padding: 2em;
    min-width: 275px;
  }
  .main__card h3 span {
    font-weight: 100;
  }
  .main__card p {
    margin: 2em;
  }
}
@media only screen and (max-width: 1000px) {
  main {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }

  .main__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__header h2 {
    color: #005b7f;
    padding-left: 25px;
  }

  .main__card {
    display: flex;
    flex-direction: column;
    margin: 25px 250px;
    box-shadow: 3px 3px 15px;
    min-height: 300px;
    width: 100%;
  }
  .main__card h3 {
    background-color: #005b7f;
    color: #ffffff;
    text-align: center;
    padding: 2em;
    min-width: 275px;
  }
  .main__card h3 span {
    font-weight: 100;
  }
  .main__card p {
    margin: 2em;
  }
}
@media only screen and (min-width: 1025px) {
  .contact {
    position: relative;
    background-color: #005b7f;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .contact::before {
    content: "";
    background-color: #7accc8;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .contact__info {
    background-color: #005b7f;
    color: #ffffff;
    position: absolute;
    left: 10%;
    height: 400px;
    width: 350px;
    z-index: 2;
    box-shadow: 3px 3px 10px black;
  }
  .contact__info h3 {
    text-align: center;
    margin-top: 25px;
  }
  .contact__info .contactlist {
    list-style: none;
    margin: 50px;
  }
  .contact__info .contactlist li {
    line-height: 4.15em;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.75s;
  }
  .contact__info .contactlist li:hover {
    opacity: 1;
    transition: 0.5s;
  }
  .contact__info .contactlist li img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .contact__info .contacticons {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  .contact__info .contacticons li {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.75s;
  }
  .contact__info .contacticons li:hover {
    opacity: 1;
    transition: 0.5s;
  }
  .contact__info .contacticons li img {
    height: 25px;
    width: 25px;
  }
  .contact__form {
    background-color: #ffffff;
    height: 600px;
    width: 65%;
    padding: 25px 150px;
    position: absolute;
    left: 25%;
    box-shadow: 3px 3px 10px;
    z-index: 1;
  }
  .contact__form h3 {
    text-align: center;
    color: #005b7f;
    margin-bottom: 50px;
  }
  .contact__form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10%;
  }
  .contact__form form input {
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid #005b7f;
    padding: 1.5em;
  }
  .contact__form form textarea {
    border: none;
    border-bottom: 1px solid #005b7f;
    margin-bottom: 35px;
    height: 100px;
  }
  .contact__form form button {
    background: none;
    color: #005b7f;
    border: 2px solid #005b7f;
    cursor: pointer;
    width: 200px;
    padding: 1.5em;
    transition: 0.5s;
  }
  .contact__form form button:hover {
    color: #ffffff;
    background-color: #005b7f;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 1024px) {
  .contact {
    background-color: #005b7f;
    display: flex;
  }
  .contact__info {
    background-color: #005b7f;
    color: #ffffff;
    width: 400px;
  }
  .contact__info h3 {
    text-align: center;
    margin: 25px;
  }
  .contact__info .contactlist {
    list-style: none;
    margin: 100px 10px;
  }
  .contact__info .contactlist li {
    line-height: 4.15em;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.75s;
  }
  .contact__info .contactlist li:hover {
    opacity: 1;
    transition: 0.5s;
  }
  .contact__info .contactlist li img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .contact__info .contacticons {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  .contact__info .contacticons li {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.75s;
  }
  .contact__info .contacticons li:hover {
    opacity: 1;
    transition: 0.5s;
  }
  .contact__info .contacticons li img {
    height: 25px;
    width: 25px;
  }
  .contact__form {
    background-color: #ffffff;
    width: 100%;
  }
  .contact__form h3 {
    text-align: center;
    color: #005b7f;
    margin: 25px;
  }
  .contact__form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
  }
  .contact__form form input {
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid #005b7f;
    padding: 1.5em;
  }
  .contact__form form textarea {
    border: none;
    border-bottom: 1px solid #005b7f;
    margin-bottom: 35px;
    height: 100px;
  }
  .contact__form form button {
    background: none;
    color: #005b7f;
    border: 2px solid #005b7f;
    cursor: pointer;
    width: 200px;
    padding: 1.5em;
    transition: 0.5s;
  }
  .contact__form form button:hover {
    color: #ffffff;
    background-color: #005b7f;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 1024px) {
  .contact {
    background-color: #005b7f;
    display: flex;
  }
  .contact__info {
    background-color: #005b7f;
    color: #ffffff;
    width: 400px;
  }
  .contact__info h3 {
    text-align: center;
    margin: 25px;
  }
  .contact__info .contactlist {
    list-style: none;
    margin: 100px 10px;
  }
  .contact__info .contactlist li {
    line-height: 4.15em;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.75s;
  }
  .contact__info .contactlist li:hover {
    opacity: 1;
    transition: 0.5s;
  }
  .contact__info .contactlist li img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .contact__info .contacticons {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  .contact__info .contacticons li {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.75s;
  }
  .contact__info .contacticons li:hover {
    opacity: 1;
    transition: 0.5s;
  }
  .contact__info .contacticons li img {
    height: 25px;
    width: 25px;
  }
  .contact__form {
    background-color: #ffffff;
    width: 100%;
  }
  .contact__form h3 {
    text-align: center;
    color: #005b7f;
    margin: 25px;
  }
  .contact__form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
  }
  .contact__form form input {
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid #005b7f;
    padding: 1.5em;
  }
  .contact__form form textarea {
    border: none;
    border-bottom: 1px solid #005b7f;
    margin-bottom: 35px;
    height: 100px;
  }
  .contact__form form button {
    background: none;
    color: #005b7f;
    border: 2px solid #005b7f;
    cursor: pointer;
    width: 200px;
    padding: 1.5em;
    transition: 0.5s;
  }
  .contact__form form button:hover {
    color: #ffffff;
    background-color: #005b7f;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 540px) {
  .contact {
    background-color: #005b7f;
    display: flex;
    flex-direction: column;
  }
  .contact__info {
    background-color: #005b7f;
    color: #ffffff;
  }
  .contact__info h3 {
    text-align: center;
  }
  .contact__info .contactlist {
    list-style: none;
    margin: 25px;
  }
  .contact__info .contactlist li {
    line-height: 4.15em;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.75s;
  }
  .contact__info .contactlist li:hover {
    opacity: 1;
    transition: 0.5s;
  }
  .contact__info .contactlist li img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .contact__info .contacticons {
    list-style: none;
    display: none;
    justify-content: space-around;
  }
  .contact__info .contacticons li {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.75s;
  }
  .contact__info .contacticons li:hover {
    opacity: 1;
    transition: 0.5s;
  }
  .contact__info .contacticons li img {
    height: 25px;
    width: 25px;
  }
  .contact__form {
    background-color: #ffffff;
    width: 100%;
  }
  .contact__form h3 {
    text-align: center;
    color: #005b7f;
    margin: 25px;
  }
  .contact__form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
  }
  .contact__form form input {
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid #005b7f;
    padding: 1.5em;
  }
  .contact__form form textarea {
    border: none;
    border-bottom: 1px solid #005b7f;
    margin-bottom: 35px;
    height: 100px;
  }
  .contact__form form button {
    background: none;
    color: #005b7f;
    border: 2px solid #005b7f;
    cursor: pointer;
    width: 200px;
    padding: 1.5em;
    transition: 0.5s;
  }
  .contact__form form button:hover {
    color: #ffffff;
    background-color: #005b7f;
    transition: 0.5s;
  }
}
.section-wrapper {
  background-image: url(../img/laptop.jpg);
  background-size: cover;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
}
.section-wrapper .wrapper {
  margin-top: 100px;
}
.section-wrapper ul {
  list-style: none;
  display: flex;
}
.section-wrapper ul li {
  padding: 50px;
}
.section-wrapper ul img {
  height: 75px;
  width: 75px;
}

footer {
  text-align: center;
  padding: 2em;
}

/*# sourceMappingURL=style.css.map */
