//home-hero
.banner {
  background: linear-gradient($color-accent, $color-secondary),
              url(../img/home-hero.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center center;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__header {
    font-family: raleway;
    font-size: 4rem;
    color: $color-white;
    border: solid 5px;
    padding: 1.15em;
    animation: fadeAndFloat 2s;
    text-align: center;
    position: absolute;
    span {
      font-size: .5em;
      font-weight: 100;
    }
  }
  &__icons {
    list-style-type: none;
    display: flex;
    position: relative;
    top: 40%;
    li {
      margin: 40px;
      animation: fadeAndFloat 2s;
      &:hover {
        transform: scale(2.5);
        transition: 1.15s;
      }
    }
  }
}
