//home-hero
.banner {
  background: linear-gradient($color-accent, $color-secondary),
              url(../img/home-hero.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center center;
  height: 100vh;
  width: 100%;
  z-index: -1;
  &__header {
    font-family: raleway;
    font-size: 4rem;
    color: $color-white;
    border: solid 5px;
    padding: 20px;
    animation: fadeAndFloat 5s;
    position: absolute;
    top: 25%;
    left: 33%;
    &--sub {
      font-family: raleway;
      color: $color-white;
      animation: fadeAndFloat 5s;
      position: absolute;
      top: 35%;
      left: 43%;
    }
  }
  &__icons {
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 80%;
    left: 39%;
    li {
      margin: 40px;
      animation: fadeAndFloat 5s;
      &:hover {
        transform: scale(2.5);
        transition: 1.15s;
      }
    }
  }
  .home-header {
    font-family: raleway;
    font-size: 50px;
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 38%;
  }
}
