  #skills {
    background: url(../img/desktop.jpg);
    background-size: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    margin: 0;
    padding: 0;
    .skills-section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--header {
          position: relative;
          height: 200px;
          width: 300px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: $color-primary;
          z-index: 1;
          &:hover {
            background-color: $color-secondary;
          }
          h3 {
            color: $color-white;
            margin: 10px;
          }
        }
        &--content {
          position: relative;
          background-color: $color-white;
          height: 200px;
          width: 300px;
          padding: 20px;
          box-shadow: 1px 1px 15px ;
        }
      }
    }
  }
  // Card animation - Adds hover effect for skills cards
  .card .card--header .card--icon {
    opacity: 0.2;
    transition: .75s;
  }

  .card:hover .card--header .card--icon {
    opacity: 1;
    transition: .75s;
  }

  .card .card--header h3 {
    opacity: 0.2;
    transition: .75s;
  }

  .card:hover .card--header h3 {
    opacity: 1;
    transition: .75s;
  }

  .card .card--header {
    transition: .75s;
    transform: translateY(100px);
  }

  .card:hover .card--header {
    transition: .75s;
    transform: translateY(0);
    box-shadow: -1px -1px 15px;
  }

  .card .card--content {
    transition: .75s;
    transform: translateY(-100px);
  }

  .card:hover .card--content {
    transition: .75s;
    transform: translateY(0);
  }

  .card--icon {
    height: 100px;
    width: 100px;
  }

  .card-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
  }

  .card-icon {
    height: 50px;
    width: 50px;
    margin: 5px;
  }

  .skills-button {
    text-align: center;
    .button {
      margin: 100px;
      &:hover {
        a {
          background-color: $color-secondary;
          color: $color-white;
          border: 2px solid $color-white;
          transition: .5s;
        }
      }
      a {
        color: $color-secondary;
        text-decoration: none;
        border: 2px solid $color-secondary;
        padding: 2em;
        transition: .5s;
      }
    }
  }


@media only screen and (max-width: 1450px) {
  #skills {
    display: none;
  }
}
